html {
  scroll-behavior: smooth;
}

@media (max-width: 640px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: grid;
    grid-template-rows: 18vh 1fr auto;
    grid-template-columns: 40vw 20vw 40vw;
    grid-template-areas:
      "logo null burger"
      "Main Main Main"
      "footer footer footer";
    justify-items: center;
    align-items: center;
  }

  /* HEADER */
  .Logo {
    height: 15vh;
    width: 100%;
    grid-area: logo;
  }

  /* LOGO UNIVERSITY ICON */
  #logoImage {
    height: 100%;
  }

  /* BURGER MENU */
  .hamburger,
  .hamburgerC {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100px;
  }

  .hamburger i,
  .hamburgerC i {
    font-size: 3rem;
  }

  .hamburger {
    background-color: white;
    color: black;
  }

  .hamburgerC {
    display: none;
    z-index: 100;
    background-color: black;
    color: white;
  }

  .menu {
    position: fixed;
    transform: translateX(200%);
    transition: transform 0.2s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 30px;
    row-gap: 0;
    list-style: none;
  }

  .showMenu {
    transform: translateX(0);
  }

  .menuItem {
    display: block;
    margin: 1rem auto;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }

  .menuItem:hover {
    text-decoration: underline;
  }

  #photoMenu {
    height: 150px;
  }

  /* MAIN */
  main {
    grid-area: Main;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
  }

  main h1 {
    text-align: center;
    margin-bottom: 5%;
  }

  main h2 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  main p {
    font-size: 20px;
    text-align: center;
  }

  #aboutUsDiv {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }

  #facilitiesPhoto1,
  #facilitiesPhoto2 {
    width: 90%;
    height: auto;
    border-radius: 15px;
    margin: 2% auto;
  }

  #aboutUsDiv ul,
  #aboutUsdiv li {
    justify-items: center;
    font-size: 20px;
  }

  #map {
    height: 50vh;
    width: 100%;
    border-radius: 15px;
  }

  #locationDiv {
    margin: 5% auto;
    width: 100%;
  }

  #locationDiv p:first-of-type {
    margin-bottom: 10px;
  }

  footer {
    grid-area: footer;
    width: 100vw;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
    grid-template-areas: "photoF hrefF";
    border-top: 1px solid black;
  }

  #footerImg {
    grid-area: photoF;
    width: 65%;
    max-width: 200px;
    margin-left: 10%;
  }

  .foot {
    grid-area: hrefF;
    align-self: center;
    justify-self: center;
    font-size: 18px;
    text-align: center;
  }

  .foot ul a,
  .foot ul {
    list-style: none;
    color: black;
    justify-self: center;
  }
}

@media (min-width: 641px) and (max-width: 991px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: grid;
    grid-template-rows: 18vh 1fr auto;
    grid-template-columns: 40vw 20vw 40vw;
    grid-template-areas:
      "logo null burger"
      "Main Main Main"
      "footer footer footer";
    justify-items: center;
    align-items: center;
  }

  /* HEADER */
  .Logo {
    height: 15vh;
    width: 100%;
    grid-area: logo;
  }

  /* LOGO UNIVERSITY ICON */
  #logoImage {
    height: 100%;
  }

  /* BURGER MENU */
  .hamburger,
  .hamburgerC {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100px;
  }

  .hamburger i,
  .hamburgerC i {
    font-size: 3rem;
  }

  .hamburger {
    background-color: white;
    color: black;
  }

  .hamburgerC {
    display: none;
    z-index: 100;
    background-color: black;
    color: white;
  }

  .menu {
    position: fixed;
    transform: translateX(200%);
    transition: transform 0.2s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 30px;
    row-gap: 0;
    list-style: none;
  }

  .showMenu {
    transform: translateX(0);
  }

  .menuItem {
    display: block;
    margin: 1rem auto;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }

  .menuItem:hover {
    text-decoration: underline;
  }

  #photoMenu {
    height: 150px;
  }

  /* MAIN */
  main {
    grid-area: Main;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
  }

  main h1 {
    text-align: center;
    margin-bottom: 5%;
    font-size: 35px;
  }

  main h2 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
  }

  main p {
    font-size: 20px;
    text-align: center;
    font-size: 25px;
  }

  #aboutUsDiv {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }

  #facilitiesPhoto1,
  #facilitiesPhoto2 {
    width: 70%;
    height: auto;
    border-radius: 15px;
    margin: 2% auto;
  }

  #aboutUsDiv ul,
  #aboutUsdiv li {
    justify-items: center;
    font-size: 25px;
  }

  #map {
    height: 50vh;
    width: 100%;
    border-radius: 15px;
  }
  #locationDiv {
    margin: 5% auto;
    width: 100%;
    font-size: 25px;
  }

  #locationDiv p:first-of-type {
    margin-bottom: 10px;
  }

  footer {
    grid-area: footer;
    width: 100vw;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
    grid-template-areas: "photoF hrefF";
    border-top: 1px solid black;
  }

  #footerImg {
    grid-area: photoF;
    width: 65%;
    max-width: 16vw;
    margin-left: 10%;
  }

  .foot {
    grid-area: hrefF;
    align-self: center;
    justify-self: center;
    font-size: 18px;
    text-align: center;
  }

  .foot ul a,
  .foot ul {
    list-style: none;
    color: black;
    justify-self: center;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: grid;
    grid-template-rows: 23vh 1fr auto;
    grid-template-columns: 30vw 30vw 40vw;
    grid-template-areas:
      "logo nav nav"
      "Main Main Main"
      "footer footer footer";
    justify-items: center;
    align-items: center;
    column-gap: 0;
  }

  /* HEADER */
  .Logo {
    grid-area: logo;
    justify-self: center;
  }

  /* LOGO UNIVERSITY ICON */
  #logoImage {
    max-width: 175px;
    margin-top: 5%;
  }

  .hamburger,
  .hamburgerC,
  #photoMenu {
    display: none;
  }

  nav {
    grid-area: nav;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .menuItem {
    font-size: 28px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: border-color 0.7s ease;
    margin-right: 20px;
  }

  .menuItem:hover {
    border-bottom-color: black;
  }

  #photoMenu {
    max-height: 150px;
  }
  /* MAIN */
  main {
    grid-area: Main;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
  }

  #aboutUsDiv {
    width: 100%;
    margin: 5%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "header1 header1"
      "para1 para1"
      "header2 header2"
      "photo1 nothing"
      "photo1 photo2"
      "nothing photo2"
      "UnderPrograms PostPrograms"
      "UnderPD PostPD"
      "header3 header3";
    justify-items: center;
  }

  #aboutUsDiv h1 {
    text-align: center;
    margin-bottom: 5%;
    font-size: 35px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  #facilitiesHeader {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }

  #aboutUsDiv p {
    grid-area: para1;
    text-align: center;
    font-size: 25px;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  #facilitiesPhoto1 {
    width: 90%;
    height: auto;
    border-radius: 15px;
    grid-row: 4/6;
    grid-column: 1/2;
  }
  #facilitiesPhoto2 {
    width: 90%;
    height: auto;
    border-radius: 15px;
    grid-row: 5/7;
    grid-column: 2/3;
  }

  #UnderPrograms {
    margin: 5% 0;
    grid-row: 7 / 8;
    grid-column: 1 / 2;
    font-size: 30px;
  }
  #PostPrograms {
    margin: 5% 0;
    grid-row: 7 / 8;
    grid-column: 2 / 3;
    font-size: 30px;
  }
  #UnderPD {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
    font-size: 25px;
  }
  #PostPD {
    grid-row: 8 / 9;
    grid-column: 2 / 3;
    font-size: 25px;
  }

  #locationHeader {
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    grid-row: 9/ 10;
    grid-column: 1 / 3;
  }

  #map {
    height: 50vh;
    width: 100%;
    border-radius: 15px;
  }

  #locationDiv {
    margin: 5% auto;
    width: 100%;
    font-size: 25px;
  }

  #locationDiv p:first-of-type {
    margin-bottom: 10px;
  }

  footer {
    grid-area: footer;
    width: 100vw;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "photoF hrefF";
    border-top: 1px solid black;
  }

  #footerImg {
    grid-area: photoF;
    /* width:90%; */
    max-width: 150px;
    margin-left: 10%;
  }

  .foot {
    grid-area: hrefF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    font-size: 25px;
    text-align: center;
  }

  .foot ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .foot ul a,
  .foot ul {
    list-style: none;
    color: black;
    justify-self: center;
  }
}

@media (min-width: 1201px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: grid;
    grid-template-rows: 23vh 1fr 12%;
    grid-template-columns: 30vw 30vw 40vw;
    grid-template-areas:
      "logo nav nav"
      "Main Main Main"
      "footer footer footer";
    justify-items: center;
    align-items: center;
    column-gap: 0;
  }

  /* HEADER */
  .Logo {
    grid-area: logo;
    justify-self: center;
  }

  /* LOGO UNIVERSITY ICON */
  #logoImage {
    max-width: 175px;
    margin-top: 5%;
  }

  .hamburger,
  .hamburgerC,
  #photoMenu {
    display: none;
  }

  nav {
    grid-area: nav;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .menuItem {
    font-size: 28px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: border-color 0.7s ease;
    margin-right: 20px;
  }

  .menuItem:hover {
    border-bottom-color: black;
  }

  #photoMenu {
    max-height: 150px;
  }

  /* MAIN */
  main {
    grid-area: Main;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
  }

  #aboutUsDiv {
    width: 100%;
    margin-top: 5%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "header1 header1"
      "para1 para1"
      "header2 header2"
      "photo1 nothing"
      "photo1 photo2"
      "nothing photo2"
      "UnderPrograms PostPrograms"
      "UnderPD PostPD"
      "header3 header3";
    justify-items: center;
  }

  #aboutUsDiv h1 {
    text-align: center;
    margin-bottom: 5%;
    font-size: 35px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  #facilitiesHeader {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }

  #aboutUsDiv p {
    grid-area: para1;
    text-align: center;
    font-size: 25px;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  #facilitiesPhoto1 {
    width: 80%;
    height: auto;
    border-radius: 15px;
    grid-row: 4/6;
    grid-column: 1/2;
  }
  #facilitiesPhoto2 {
    width: 80%;
    height: auto;
    border-radius: 15px;
    grid-row: 5/7;
    grid-column: 2/3;
  }
  #UnderPrograms {
    margin: 5% 0;
    grid-row: 7 / 8;
    grid-column: 1 / 2;
    font-size: 30px;
  }
  #PostPrograms {
    margin: 5% 0;
    grid-row: 7 / 8;
    grid-column: 2 / 3;
    font-size: 30px;
  }
  #UnderPD {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
    font-size: 25px;
  }
  #PostPD {
    grid-row: 8 / 9;
    grid-column: 2 / 3;
    font-size: 25px;
  }

  #locationHeader {
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    grid-row: 9/ 10;
    grid-column: 1 / 3;
  }

  #map {
    height: 60vh;
    width: 80%;
    border-radius: 15px;
  }
  #locationDiv {
    margin: 5% auto;
    width: 100%;
    font-size: 25px;
  }

  #locationDiv p:first-of-type {
    margin-bottom: 10px;
  }

  footer {
    grid-area: footer;
    width: 100vw;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "photoF hrefF";
    border-top: 1px solid black;
  }

  #footerImg {
    grid-area: photoF;
    /* width:90%; */
    max-width: 150px;
    margin-left: 10%;
  }

  .foot {
    grid-area: hrefF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    font-size: 25px;
    text-align: center;
  }

  .foot ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .foot ul a,
  .foot ul {
    list-style: none;
    color: black;
    justify-self: center;
  }
}
