* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 640px) {
  #mainDiv {
    /* div with choices*/
    background: rgba(242, 203, 140, 0.7);
    color: black;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    place-items: center;
    width: 90%;
    max-width: 100%;
    min-height: auto;
    max-height: auto;
    border-radius: 15px;
    margin: auto;
  }
  .assignmentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .assignmentsContainer h3 {
    text-align: center;
  }

  .AssignmentsActions button {
    max-width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 14px;
    padding: 0 2%;
  }

  .assignmentsCardActions button {
    border-radius: 15px;
  }

  #addAssignmentBtn:active,
  .btn-edit:active,
  .btn-delete:active {
    transform: scale(0.9);
    transform-origin: center;
  }

  .assignmentsCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .assignmentsCardActions {
    display: flex;
    flex-direction: row;
  }

  .AssignmentTitle {
    text-decoration: none;
    color: #1d3557;
    font-weight: 600;
  }

  .AssignmentTitle:hover {
    text-decoration: underline;
  }

  .assignmentsList {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  /* ===== MODAL OVERLAY ===== */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  .modal.active {
    display: flex;
  }

  .modal-content {
    min-width: 100%;
    min-height: 350px;
    background-color: rgba(242, 203, 140, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }

  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom: 2px solid black;
  }

  #closeAddModal,
  #closeEditModal,
  #closeDeleteModal {
    font-size: 40px;
  }
  #closeAddModal:hover,
  #closeEditModal:hover,
  #closeDeleteModal:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
  #closeAddModal:active,
  #closeEditModal:active,
  #closeDeleteModal:hover {
    transform: scale(0.8);
  }

  .modal-body {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  #AddAssignmentsForm,
  #editAssignmentsForm {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 30% 65%;
    row-gap: 5px;
    font-size: 20px;
  }
  #AddAssignmentsForm input,
  #AddAssignmentsForm textarea,
  #AddAssignmentsForm select,
  #editAssignmentsForm input,
  #editAssignmentsForm textarea {
    font-size: 16px;
    border-radius: 15px;
  }

  textarea {
    min-height: 150px;
  }

  .modal-footer {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .modal-footer button {
    border-radius: 15px;
    font-size: 14px;
    padding: 0 2%;
  }
  .modal-footer button:active {
    transform: scale(0.9);
  }
}
@media (min-width: 641px) {
  #mainDiv {
    /* div with choices*/
    background: rgba(242, 203, 140, 0.7);
    color: black;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    place-items: center;
    width: 90%;
    max-width: 100%;
    min-height: auto;
    max-height: auto;
    border-radius: 15px;
    margin: auto;
  }
  .assignmentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .assignmentsContainer h3 {
    text-align: center;
  }

  .AssignmentsActions button {
    max-width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 15px;
    padding: 0 2%;
  }

  .assignmentsCardActions button {
    border-radius: 15px;
  }

  #addAssignmentBtn:active,
  .btn-edit:active,
  .btn-delete:active {
    transform: scale(0.9);
    transform-origin: center;
  }

  .assignmentsCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .assignmentsCardActions {
    display: flex;
    flex-direction: row;
  }

  .AssignmentTitle {
    text-decoration: none;
    color: #1d3557;
    font-weight: 600;
  }

  .AssignmentTitle:hover {
    text-decoration: underline;
  }

  .assignmentsList {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  /* ===== MODAL OVERLAY ===== */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  .modal.active {
    display: flex;
  }

  .modal-content {
    min-width: 50%;
    max-width: auto;
    min-height: 350px;
    background-color: rgba(242, 203, 140, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }

  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom: 2px solid black;
  }

  #closeAddModal,
  #closeEditModal,
  #closeDeleteModal {
    font-size: 41px;
  }
  #closeAddModal:hover,
  #closeEditModal:hover,
  #closeDeleteModal:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
  #closeAddModal:active,
  #closeEditModal:active,
  #closeDeleteModal:hover {
    transform: scale(0.8);
  }

  .modal-body {
    width: 100%;
    font-size: 21px;
    text-align: center;
  }

  #AddAssignmentsForm,
  #editAssignmentsForm {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 30% 65%;
    row-gap: 5px;
    font-size: 21px;
  }
  #AddAssignmentsForm input,
  #AddAssignmentsForm textarea,
  #AddAssignmentsForm select,
  #editAssignmentsForm input,
  #editAssignmentsForm textarea {
    font-size: 17px;
    border-radius: 15px;
  }

  textarea {
    min-height: 150px;
  }

  .modal-footer {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .modal-footer button {
    border-radius: 15px;
    font-size: 15px;
    padding: 0 2%;
  }
  .modal-footer button:active {
    transform: scale(0.9);
  }

  .assignmentsCard h4 {
    font-size: larger;
  }
}
