* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 640px) {
  #mainDiv {
    /* div with choices*/
    background: rgba(242, 203, 140, 0.7);
    color: black;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    place-items: center;
    width: 90%;
    max-width: 100%;
    min-height: auto;
    max-height: auto;
    border-radius: 15px;
    margin: auto;
  }

  .courseActions button {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 14px;
    padding: 0 2%;
    cursor: pointer;
  }
  #addCourseBtn:active,
  .btn-edit:active,
  .btn-delete:active {
    transform: scale(0.9);
    transform-origin: center;
  }

  .coursesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .courseCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .courseCardActions {
    display: flex;
    flex-direction: row;
  }

  .courseTitleLink {
    text-decoration: none;
    color: #1d3557;
    font-weight: 600;
  }

  .courseTitleLink:hover {
    text-decoration: underline;
  }

  .courseCardActions button {
    border-radius: 15px;
    cursor: pointer;
  }

  .coursesList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* ===== MODAL OVERLAY ===== */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  .modal.active {
    display: flex;
  }

  .modal-content {
    width: 400px;
    height: 250px;
    background-color: rgba(242, 203, 140, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }

  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom: 2px solid black;
  }

  #closeAddModal,
  #closeEditModal,
  #closeDeleteModal {
    font-size: 40px;
  }

  #closeAddModal:hover,
  #closeEditModal:hover,
  #closeDeleteModal:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
  #closeAddModal:active,
  #closeEditModal:active,
  #closeDeleteModal:hover {
    transform: scale(0.8);
  }

  .modal-body {
    font-size: 20px;
    text-align: center;
  }
  #edit_title_course {
    font-size: 16px;
  }

  .modal-footer {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .modal-footer button {
    border-radius: 15px;
    font-size: 14px;
    padding: 0 2%;
    cursor: pointer;
  }
  .modal-footer button:active {
    transform: scale(0.9);
  }
  input {
    font-size: large;
  }
}
@media (min-width: 641px) and (max-width: 991px) {
  #mainDiv {
    /* div with choices*/
    background: rgba(242, 203, 140, 0.7);
    color: black;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    place-items: center;
    width: 90%;
    max-width: 100%;
    min-height: auto;
    max-height: auto;
    border-radius: 15px;
    margin: auto;
  }

  .courseActions button {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 15px;
    padding: 0 2%;
    cursor: pointer;
  }
  #addCourseBtn:active,
  .btn-edit:active,
  .btn-delete:active {
    transform: scale(0.9);
    transform-origin: center;
  }

  .coursesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .coursesContainer h3 {
    font-size: 20px;
  }

  .courseCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .courseCardActions {
    display: flex;
    flex-direction: row;
  }

  .courseTitleLink {
    text-decoration: none;
    color: #1d3557;
    font-weight: 600;
    font-size: 18px;
  }

  .courseTitleLink:hover {
    text-decoration: underline;
  }

  .courseCardActions button {
    border-radius: 15px;
    cursor: pointer;
  }

  .coursesList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* ===== MODAL OVERLAY ===== */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  .modal.active {
    display: flex;
  }

  .modal-content {
    width: 400px;
    height: 250px;
    background-color: rgba(242, 203, 140, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }

  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom: 2px solid black;
  }
  #closeEditModal,
  #closeDeleteModal,
  #closeAddModal {
    font-size: 40px;
  }

  #closeEditModal:hover,
  #closeDeleteModal:hover,
  #closeAddModal:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
  #closeEditModal:active,
  #closeDeleteModal:hover,
  #closeAddModal:hover {
    transform: scale(0.8);
  }

  .modal-body {
    font-size: 22px;
    text-align: center;
  }

  #edit_title_course {
    font-size: 18px;
  }

  .modal-footer {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 5px;
  }

  .modal-footer button {
    border-radius: 15px;
    font-size: 15px;
    padding: 0 2%;
    cursor: pointer;
  }
  .modal-footer button:active {
    transform: scale(0.9);
  }
  input {
    font-size: large;
  }
}
@media (min-width: 992px) {
  #mainDiv {
    /* div with choices*/
    background: rgba(242, 203, 140, 0.7);
    color: black;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    place-items: center;
    width: 90%;
    max-width: 100%;
    min-height: auto;
    max-height: auto;
    border-radius: 15px;
    margin: auto;
  }

  .courseActions button {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 15px;
    padding: 0 2%;
    cursor: pointer;
  }
  #addCourseBtn:active,
  .btn-edit:active,
  .btn-delete:active {
    transform: scale(0.9);
    transform-origin: center;
  }

  .coursesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .coursesContainer h3 {
    font-size: 21px;
  }

  .courseCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .courseCardActions {
    display: flex;
    flex-direction: row;
  }

  .courseTitleLink {
    text-decoration: none;
    color: #1d3557;
    font-weight: 600;
    font-size: 19px;
  }

  .courseTitleLink:hover {
    text-decoration: underline;
  }

  .courseCardActions button {
    border-radius: 15px;
    cursor: pointer;
  }

  .coursesList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* ===== MODAL OVERLAY ===== */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  .modal.active {
    display: flex;
  }

  .modal-content {
    width: 500px;
    height: 300px;
    background-color: rgba(242, 203, 140, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }

  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom: 2px solid black;
  }
  #closeEditModal,
  #closeDeleteModal,
  #closeAddModal {
    font-size: 41px;
    cursor: pointer;
  }

  #closeEditModal:hover,
  #closeDeleteModal:hover,
  #closeAddModal:hover {
    transform: scale(0.9);
  }
  #closeEditModal:active,
  #closeDeleteModal:hover,
  #closeAddModal:hover {
    transform: scale(0.8);
  }

  .modal-body {
    font-size: 23px;
    text-align: center;
  }

  #edit_title_course {
    font-size: 19px;
  }

  .modal-footer {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 5px;
  }

  .modal-footer button {
    border-radius: 15px;
    font-size: 16px;
    padding: 0 2%;
    cursor: pointer;
  }
  .modal-footer button:active {
    transform: scale(0.9);
  }
  input {
    font-size: large;
  }
}
