* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 640px) {
  #mainDiv {
    /* div with choices*/
    background: rgba(242, 203, 140, 0.7);
    color: black;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    place-items: center;
    width: 90%;
    max-width: 100%;
    min-height: auto;
    max-height: auto;
    border-radius: 15px;
    margin: auto;
  }

  .gradesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: auto;
  }

  .gradesTable td,
  .gradesTable th {
    padding: 5px 5px;
    text-align: center;
  }

  .studentUsernameLink a {
    text-decoration: none;
    color: #1d3557;
    font-weight: 600;
    font-size: larger;
  }

  .studentUsernameLink:hover {
    text-decoration: underline;
  }

  /* ===== MODAL OVERLAY ===== */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  .modal.active {
    display: flex;
  }

  .modal-content {
    width: 400px;
    min-height: 250px;
    max-height: 400px;
    background-color: rgba(242, 203, 140, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }

  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom: 2px solid black;
  }

  #closePreviewModal {
    font-size: 40px;
    cursor: pointer;
  }

  #closePreviewModall:hover {
    transform: scale(0.9);
    cursor: pointer;
  }

  #closePreviewModal:hover {
    transform: scale(0.8);
  }

  .modal-body {
    width: 100%;
    font-size: 20px;
    text-align: center;
    overflow: auto;
  }

  #AddTopicForm,
  #editTopicForm {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 30% 65%;
    row-gap: 5px;
    font-size: 20px;
  }
  #AddTopicForm input,
  #editTopicForm input {
    font-size: 18px;
  }

  #edit_title_course {
    font-size: 16px;
  }

  .modal-footer {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .modal-footer button {
    border-radius: 15px;
    font-size: 20px;
    padding: 2% 10%;
    cursor: pointer;
  }
  .modal-footer button:hover {
    transform: scale(0.9);
  }
  .modal-footer button:active {
    transform: scale(0.8);
  }
}
@media (min-width: 641px) {
  #mainDiv {
    /* div with choices*/
    background: rgba(242, 203, 140, 0.7);
    color: black;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    place-items: center;
    width: 90%;
    max-width: 100%;
    min-height: auto;
    max-height: auto;
    border-radius: 15px;
    margin: auto;
  }

  .gradesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: auto;
  }

  .gradesList {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .studentUsernameLink a {
    text-decoration: none;
    color: #1d3557;
    font-weight: 600;
    font-size: larger;
  }

  .studentUsernameLink:hover {
    text-decoration: underline;
  }

  /* ===== MODAL OVERLAY ===== */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  .modal.active {
    display: flex;
  }

  .modal-content {
    width: auto;
    min-width: 400px;
    max-width: 700px;
    min-height: 250px;
    max-height: 700px;
    background-color: rgba(242, 203, 140, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }

  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom: 2px solid black;
  }

  #closePreviewModal {
    font-size: 40px;
    cursor: pointer;
  }

  #closePreviewModall:hover {
    transform: scale(0.9);
    cursor: pointer;
  }

  #closePreviewModal:hover {
    transform: scale(0.8);
  }

  .modal-body {
    width: 100%;
    font-size: 22px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .gradesTable td,
  .gradesTable th {
    padding: 5px 5px;
    text-align: center;
  }

  .modal-footer {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .modal-footer button {
    border-radius: 15px;
    font-size: 20px;
    padding: 2% 10%;
    cursor: pointer;
  }
  .modal-footer button:hover {
    transform: scale(0.9);
  }
  .modal-footer button:active {
    transform: scale(0.8);
  }
}
