* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 640px) {
  #mainDiv {
    /* div with choices*/
    background: rgba(242, 203, 140, 0.7);
    color: black;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    place-items: center;
    width: 90%;
    max-width: 100%;
    min-height: 300px;
    max-height: auto;
    border-radius: 15px;
    margin: auto;
  }
  .assignmentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .assignmentsContainer h3 {
    text-align: center;
    font-size: 21px;
  }

  .btn-view-submissions,
  .btn-submit-assignment {
    border-radius: 15px;
    padding: 0 8px;
    font-size: 15px;
  }

  .btn-view-submissions:hover,
  .btn-submit-assignment:hover {
    transform: scale(0.9);
  }

  .btn-view-submissions:active,
  .btn-submit-assignment:active {
    transform: scale(0.8);
  }

  .assignmentsCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .assignmentsCardActions {
    display: flex;
    flex-direction: row;
  }

  .AssignmentTitle {
    text-decoration: none;
    color: #1d3557;
    font-weight: 600;
    font-size: 18px;
  }

  .assignmentsList {
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow: auto;
  }

  /* ===== MODAL OVERLAY ===== */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  .modal.active {
    display: flex;
  }

  .modal-content {
    min-width: 100%;
    min-height: 350px;
    background-color: rgba(242, 203, 140, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }

  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom: 2px solid black;
  }

  #closeSubmissionsModal {
    font-size: 40px;
  }

  #closeSubmissionsModal:hover,
  #closeSubmissionsBtn:hover {
    transform: scale(0.9);
    cursor: pointer;
  }

  #closeSubmissionsModal:active,
  #closeSubmissionsBtn:active {
    transform: scale(0.8);
  }

  .modal-body {
    width: 100%;
    max-height: 500px;
    font-size: 20px;
    text-align: center;
    overflow: auto;
  }

  .submissionsTable {
    justify-self: center;
  }

  .submissionsTable th,
  .submissionsTable td {
    padding: 5px 10px;
  }

  .btn-save-grade,
  .grade-input {
    border-radius: 15px;
    padding: 0 4px;
    font-size: 15px;
  }

  .btn-save-grade {
    cursor: pointer;
  }

  .btn-save-grade:hover {
    transform: scale(0.9);
  }
  .btn-save-grade:active {
    transform: scale(0.8);
  }

  .modal-footer {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .modal-footer button {
    border-radius: 15px;
    font-size: 20px;
    padding: 0 10px;
  }
  .modal-footer button:active {
    transform: scale(0.9);
  }
}
@media (min-width: 641px) {
  #mainDiv {
    /* div with choices*/
    background: rgba(242, 203, 140, 0.7);
    color: black;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    place-items: center;
    width: 90%;
    max-width: 100%;
    min-height: auto;
    max-height: auto;
    border-radius: 15px;
    margin: auto;
  }
  .assignmentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .assignmentsContainer h3 {
    text-align: center;
    font-size: 21px;
  }

  .btn-view-submissions,
  .btn-submit-assignment {
    border-radius: 15px;
    padding: 0 8px;
    font-size: larger;
    display: inline-block;
  }

  .btn-view-submissions:hover,
  .btn-submit-assignment:hover {
    transform: scale(0.9);
    transform-origin: center;
  }

  .btn-view-submissions:active,
  .btn-submit-assignment:active {
    transform: scale(0.8);
  }

  .assignmentsCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .assignmentsCardActions {
    display: flex;
    flex-direction: row;
  }

  .AssignmentTitle {
    text-decoration: none;
    color: #1d3557;
    font-weight: 600;
    font-size: 18px;
  }

  .assignmentsList {
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow: auto;
  }

  /* ===== MODAL OVERLAY ===== */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  .modal.active {
    display: flex;
  }

  .modal-content {
    min-width: 100%;
    min-height: 350px;
    background-color: rgba(242, 203, 140, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }

  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom: 2px solid black;
  }

  #closeSubmissionsModal {
    font-size: 40px;
  }

  #closeSubmissionsModal:hover,
  #closeSubmissionsBtn:hover {
    transform: scale(0.9);
    cursor: pointer;
  }

  #closeSubmissionsModal:active,
  #closeSubmissionsBtn:active {
    transform: scale(0.8);
  }

  .modal-body {
    width: 100%;
    max-height: 500px;
    font-size: 20px;
    text-align: center;
    overflow: auto;
  }

  .submissionsTable {
    justify-self: center;
  }

  .submissionsTable th,
  .submissionsTable td {
    padding: 5px 20px;
  }

  .btn-save-grade,
  .grade-input {
    border-radius: 15px;
    padding: 0 4px;
    font-size: 18px;
  }

  .btn-save-grade {
    cursor: pointer;
  }

  .btn-save-grade:hover {
    transform: scale(0.9);
  }
  .btn-save-grade:active {
    transform: scale(0.8);
  }

  .modal-footer {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .modal-footer button {
    border-radius: 15px;
    font-size: 20px;
    padding: 0 10px;
  }
  .modal-footer button:active {
    transform: scale(0.9);
  }
}
